!.empty
*node_modules
*.env

# Arquivos Python compilados
__pycache__/
*.pyc

# Arquivos gerados pelo pip
pip-log.txt
pip-delete-this-directory.txt

# Ambiente virtual
venv/
env/

# Arquivos de configuração local
*.env

# Outros arquivos e diretórios específicos do seu projeto que você deseja excluir do controle de versão
*.pyc